<!doctype html>
{% extends "index.html" %}
<html>
  <head>
    <title>
      {%block title%}
        Solotodo - {{title}}
      {%endblock%}
    </title>
  </head>
  <body>
    {% block content %}
    <p align="right"><a href="/index/add_cpu"><font size="6" color="red" face="monospace"> Agregar </font></a></p>
    <font size="3" color="blue"><h1><center> Procesadores </center></h1></font>
    <style>
        input[type=text] {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: rgb(24, 128, 88);
            color: white;
            font-size: 16px;
        }
        input[type=submit] {
          font-size: 22px;
        }
        </style>
    <form method='POST' action="/index/cpu">
      <center><input type="submit" value="Buscar">
    <input type="text" name="buscar_cpu_nombre" placeholder="Ingrese el nombre de producto o palabra clave"></center>
    </form>
    {% set temp = [] %}
    {% if temp.append('') %} {% endif %}
    {%for x in data%}
      {% if temp[1] != x[0] %}
        <h2>{{x[0]}}</h2>
        <h3>precios:</h3>
        {%for prod in data2%}
          {%for prec in prod%}
            {% if prec[2] == x[0] %}
              {{prec[0]}}:${{prec[1]}}
              <h5></h5>
            {%endif%}
          {%endfor%}
        {%endfor%}
      {%endif%}
      {% if temp.append(x[0]) %} {% endif %}
      <h3>{{x[1]}}:</h3> {{x[2]}}
      {% if temp[1] != x[0] %}
        <h2>precios</h2>
        {%for prod in data2%}
          {%for prec in prod%}
            {% if prec[2] == x[0] %}
              <h3>{{prec[0]}}:{{prec[1]}}</h3>
            {%endif%}
          {%endfor%}
        {%endfor%}
      {%endif%}
    {%endfor%}
    {% endblock %}
  </body>
</html>
