<!doctype html>
{% extends "index.html" %}
<html>
  <head>
    <title>
      {%block title%}
        Solotodo - {{title}}
      {%endblock%}
    </title>
  </head>
  <body>
    {% block content %}
    <font size="3" color="blue"><h1><center> Tarjetas de video </center></h1></font>
    <style>
        input[type=text] {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: rgb(24, 128, 88);
            color: white;
            font-size: 16px;
        }
        input[type=submit] {
          font-size: 22px;
        }
        </style>
    <form method='POST' action="/index/gpu">
      <center><input type="submit" value="Buscar">
    <input type="text" name="buscar_gpu_nombre" placeholder="Ingrese el nombre de producto o palabra clave"></center>
    </form>
    {%for x in data%}
      {{x}}
    {%endfor%}
    {% endblock %}
  </body>
</html>
