<!doctype html>
{% extends "index.html" %}
<html>
  <head>
    <title>
      {%block title%}
        Solotodo - {{title}}
      {%endblock%}
    </title>
  </head>

  <body>
    {% block content %}
    <p align="right"><a href="/index/add_hdd"><font size="6" color="red" face="monospace"> Agregar </font></a></p>
    <font size="3" color="blue"><h1><center> Discos Duros </center></h1></font>
    
    <style>
        input[type=text] {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: rgb(24, 128, 88);
            color: white;
            font-size: 16px;
        }
        input[type=submit] {
          font-size: 22px;
        }
        </style>
    <form method='POST' action="/index/hdd">
      <center><input type="submit" value="Buscar">
    <input type="text" name="buscar_hdd_nombre" placeholder="Ingrese el nombre de producto o palabra clave"></center>
    </form>
    {% set temp = [] %}
    {% if temp.append('') %} {% endif %}
    {% set temp2 = [] %}
    {% if temp2.append('') %} {% endif %}
    {% set temp3 = [] %}
    {% if temp3.append('') %} {% endif %}
    {%for x in data%}
      {% if temp|last != x[0] %}
        <h2>{{x[0]}}</h2>
        <h3>precios:</h3>
        {%for prod in data2%}
          {%for prec in prod%}
            {% if prec[2] == x[0] %}
              {{prec[0]}}:${{prec[1]}}
              <h5></h5>
            {%endif%}
          {%endfor%}
        {%endfor%}
        <h3>marca:</h3> {{x[3]}}
      {%endif%}
      {% if temp.append(x[0]) %} {% endif %}
      {% if temp2|last != x[1] %}
        <h3>{{x[1]}}:</h3> {{x[2]}}
      {%endif%}
      {% if temp2|last == x[1] %}
        {%if temp3|last != x[2] %}
          /{{x[2]}}
        {%endif%}
      {%endif%}
      {% if temp2.append(x[1]) %} {% endif %}
      {% if temp3.append(x[2]) %} {% endif %}
    {%endfor%}
    {% endblock %}
  </body>
</html>