<!doctype html>
<html>
	<head>
		<title>
      {%block title%}
			Solotodo - {{title}}
      {%endblock%}
		</title>
    <font size="6" color="green"><h1><center><a href='/index'> Solohardware </a></center></h1></font>

	</head>
	<body>


    <table style="width:100%" align="center" cellpadding="10" border="1">
      <tr>
        <th>
          <a href="/index/hdd"><font size="6" color="green" face="Monospace"> Discos Duros </font></a>
        </th>
        <th>
          <a href="/index/mobo"><font size="6" color="green" face="Monospace">Placas Madre</font></a>
        </th>
        <th>
          <a href="/index/cpu"><font size="6" color="green" face="Monospace">Procesadores</font></a>
        </th>
        <th>
          <a href="/index/gpu"><font size="6" color="green" face="Monospace">Tarjetas de video</font></a>
        </th>
        <th>
          <a href="/index/ram"><font size="6" color="green" face="Monospace">Memoria RAM</font></a>
        </th>
      </tr>
      <tr>
    </table>

  


    {% block content %}
    <style>
      table {
        border-collapse: collapse;
        border: 1px solid black;
    }
      </style>
    <table width="100%" border="0">
      <tr>
        <th>
          <img src="http://www.ricardorodriguez.cl/imagenes/rr/155/82021.jpg">
        </th>
        <th>
          <img src="https://www.pclan.com.au/media/catalog/product/cache/6/thumbnail/155x155/9df78eab33525d08d6e5fb8d27136e95/g/a/ga-gaming-b8-1.png">
        </th>
        <th>
          <img src="http://deltapcshop.com/files/images/articles/155x155/intel_cpu_9650.jpg">
        </th>
        <th>
          <img src="https://media.sandhills.com/img.axd?id=3005464705&wid=&p=&ext=&w=155&h=97&t=&lp=&c=True&wt=False&sz=Max&rt=0&checksum=2EddGnqnkFedvcGux0BMmMRsJCOYaEZt" height="100%">
        </th>
        <th>
          <img src="http://www.pcmoguer.es/media/cache/c1/c3/c1c3badf5a0b7f419ee0adcf2944b663.jpg">
        </th>
      </tr>
      <tr>
    </table>

    <p align="right"><a href="/index/add"><font size="6" color="red" face="monospace"> Agregar </font></a></p>
    <p align="right"><a href="/index/delete"><font size="6" color="red" face="monospace"> Eliminar </font></a></p>
    {% endblock %}
	</body>

</html>
