<!doctype html>
{% extends "index.html" %}
<html>
  <head>
    <title>
      {%block title%}
        Solotodo - {{title}}
      {%endblock%}
    </title>
  </head>
  <body>
    {% block content %}
    <style>
        input[type=text] {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: rgb(24, 128, 88);
            color: white;
            font-size: 16px;
        }
        input[type=submit] {
          font-size: 22px;
        }
        </style>
    <form method = 'POST' action="/index/mobo">
      <center><input type="submit" value="Buscar">
    <input type="text" name="buscar_mobo_nombre" placeholder="Ingrese el nombre de producto o palabra clave"></center>
    </form>
    {% set temp = [] %}
    {% if temp.append('') %} {% endif %}
    {%for x in asd%}
      {% if temp[1] != x[0] %}
        <h1>{{x[0]}}</h1>
      {%endif%}
      {% if temp.append(x[0]) %} {% endif %}
      <h3>{{x[1]}}: {{x[2]}}</h3>
    {%endfor%}
    {% endblock %}
  </body>
</html>
